.container {
  padding: 48px 64px;
  display: flex;
  gap: 64px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* .truckContainer {
  display: flex;
  flex-direction: column;
} */
