.container {
  padding: 48px 64px;
  display: flex;
  gap: 64px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.truckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: 1px solid #dadde1;
  background-color: transparent;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
}

.button:hover,
.button:focus {
  border: 1px solid #d84343;
  background-color: transparent;
}
