.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 360px;
  height: 168px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 48px;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 360px;
  height: 2px;
  height: 1px;
  background-color: #dadde1;
  margin-top: 24px;
}

.iconsList {
  display: flex;
  gap: 12px;
}

.iconsItem {
  border: 1px solid #dadde1;
  mix-blend-mode: multiply;
  border-radius: 10px;
  padding: 16px 32px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.iconsItem:nth-child(2) {
  padding: 4px 16px;
}

.iconTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
}
