.titleContainer {
  display: flex;
  gap: 40px;
  border-bottom: 2px solid #dadde1;
  padding-bottom: 24px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 40px;
}
