.titleContainer {
  display: flex;
  gap: 40px;
  border-bottom: 2px solid #dadde1;
  padding-bottom: 24px;
}

/* .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  cursor: pointer;
} */

.title {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 40px;
}

.title.active::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -24px;
  height: 4px;
  background-color: #e44848;
  width: 100%;
}
