.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}

.detailsContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.titleContainerItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 28px;
}

.gapContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviewsContainerItem {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
}

.locationContainerItem {
  display: flex;
  align-items: center;
}

.item {
  font-weight: 400;
  font-size: 16px;
  margin-left: 4px;
  line-height: 1.5;
  color: #101828;
}

.truckDetails {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-top: 28px;
  margin-bottom: 60px;
}

.imageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.image {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  object-fit: cover;
  overflow: hidden;
}
