.container {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 360px;
}

.locationTitle {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
  color: #6c717b;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  /* position: relative; */
}

.input {
  border-radius: 12px;
  padding: 18px 218px 18px 46px;
  width: 100%;
  height: 56px;
  background: #f7f7f7;
  border-color: transparent;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 80px;
  top: 170px;
  pointer-events: none;
}

.title::after {
  content: "";
  display: block;
  width: 360px;
  height: 1px;
  background-color: #dadde1;
  margin-top: 24px;
}

.iconsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 12px;
  margin-bottom: 32px;
}

label {
  border: 1px solid #dadde1;
  border-radius: 12px;
  width: 112px;
  height: 96px;
  text-align: center;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
label input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}

/* svg {
  margin-bottom: 8px;
} */

.active {
  border-color: #d84343;
}

.iconsItem {
  border: 1px solid #dadde1;
  mix-blend-mode: multiply;
  border-radius: 10px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.iconTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
}
