.background {
  min-height: 100vh;
  min-width: 320px;
  background-image: var(--background-mob-homescreen);
  background-position: center 136px;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  padding: 48px 20px;
  height: 100%;
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .background {
    background-image: var(--background-tab-homescreen);
    min-width: 768px;
    background-size: cover;

    background-position: 138px -10px;
    background-size: cover;
    min-height: 800px;
  }

  .container {
    max-width: 768px;
    padding: 68px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: var(--background-desktop-homescreen);
    min-width: 1440px;
    min-height: 800px;
    background-position: center 64px;
    background-size: cover;
  }

  .container {
    min-width: 1440px;
    padding: 68px 112px;
  }
}
