.container {
  display: flex;
  margin-top: 44px;
  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px;
  margin-bottom: 8px;
  width: 641px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 24px;
}

.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.field {
  border-radius: 12px;
  border-color: transparent;
  padding: 18px;
  width: 527px;
  background: #f7f7f7;
}

.textArea {
  border-radius: 10px;
  border-color: transparent;
  padding: 18px;
  width: 527px;
  background: #f7f7f7;
  resize: none;
}
