body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background: #e44848;
  border-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
}

button:focus,
button:hover {
  background: #d84343;
}
